<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.example.org/">News</a></li>
      <li><a href="http://www.example.org/">Shop site</a></li>
    </ul>
  </nav>
</footer>
