<header>
  <%= image_tag("logo.png", :alt => "Shop", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Products", products_path %></li>
      <li><%= link_to "Cart", current_cart_path %></li>
    </ul>
  </nav>
</header>